@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

:root {
    font-family: 'NanumSquare';
    --pick-color: #303031;
    --title-color: #020202;
    --desc-color: #231f20;
    --bg-block-color: #0b0c10;
    --white-color: #fff;
    --primary-color: #ffd02e;

    --f33: 33px;
    --f36: 36px;
    --f46: 46px;
    --f64: 64px;
    --f66: 66px;

    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --extrabold: 800;
    --black: 900;
}

/* general width */
body {
    margin: initial;
    overflow-x:hidden;
}

p {
    margin: initial;
}

.row {
    display: flex;
    flex-direction: row;
}

.row.flex-center {
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.col.flex-center {
    justify-content: center;
    align-items: center;
}

.pick {
    background-color: var(--primary-color);
    color: var(--pick-color);
}





footer {
    background-color: var(--primary-color);
    padding-bottom: 60px;
    padding-top: 75px;
}



.masthead {
    overflow: hidden;
}

.chip {
    background-color: var(--primary-color);
    width: 143px;
    height: 48px;
    border-radius: 50px;
    color: var(--pick-color);
    font-size: 25px;
    font-weight: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
}
.nointer{
    opacity: 1 !important;
    transform:initial !important;
}


@media all and (min-width:1024px) {
    .only-pc {
        display: block;
    }
    .only-mobile {
        display: none;
    }

    .text-center {
        text-align: center;
    }

    section.masthead {
        background-color: var(--primary-color);
        border-radius: 0 0 0 35%;
        height: 100vh;
        padding-left: 158px;
    }

    section.second {
        background-color: var(--white-color);
        height: 100vh;
        width: 1660px;
        margin: 0 auto;
    }

    section.third {
        background-color: var(--white-color);
        width: 1660px;
        margin: 0 auto;
    }

    section.fourth {
        height: 100vh;
        width: 1660px;
        margin: 0 auto;
    }
    .fourth > .row{
        justify-content: space-between;
    }
    
    .phone-with{
        background-image: url(../img/hand.png);
        background-repeat: no-repeat;
        background-position: initial;
        background-size: contain;
        width: 514px;
        height: 800px;
    }
    .handphone{
        width: 205px;
        margin-left: 48px;
        margin-top: 13px;
        opacity:0;
        transform: matrix3d(1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transition: 1s ease all;
    }
    .handphone.active{
        opacity:1;
        width: 205px;
        margin-left: 48px;
        margin-top: 13px;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transition: 1s ease all;
        
    }

    .mt-first {
        margin-top: 210px !important;
    }

    .mt-second {
        margin-top: 40px !important;
    }

    .mt-400 {
        margin-top: 400px !important;
    }

    .mt-280 {
        margin-top: 280px !important;
    }

    .mt-100 {
        margin-top: 100px !important;
    }

    .mt-80 {
        margin-top: 80px !important;
    }

    .mt-40 {
        margin-top: 40px !important;
    }

    .mt-20 {
        margin-top: 20px !important;
    }

    .mb-100 {
        margin-bottom: 100px !important;
    }

    .width-first {
        width: 310px;
    }

    .width-second {
        width: 600px;
    }

    .w1660 {
        width: 1660px;
    }

    .between {
        display: flex;
        justify-content: space-between;
    }


    .signature {
        color: #9d8123;
        font-size: 19px;
        margin-top: 17px;
    }

    .subtitle-text {
        font-size: 35px;
        color: var(--title-color);
        font-weight: 800;

    }

    h2 {
        font-size: 53px;
        line-height: 1.47em;
        font-weight: 800;
        margin-left: initial;
        margin-right: initial;
        margin-top: initial;
        margin-bottom: initial;
        color: var(--pick-color);
        opacity:0;
        transform:translateY(200px);
        transition: 1s ease all;
    }
    h2.active{
        opacity:1;
        transform:translateY(0px);
        transition: 1s ease all;
    }


    p.desc {
        font-size: 53px;
        line-height: 1.47em;
        font-weight: 400;
        color: var(--pick-color);
        margin: initial;
        opacity:0;
        transform:translateY(200px);
        transition: 1s ease all;
    }
    p.desc.active{
        opacity:1;
        transform:translateY(0px);
        transition: 1s ease all;

    }

    span.tiny {
        font-size: 25px;
        line-height: 1.9em;
        font-weight: 400;
        color: var(--pick-color);
        opacity:0;
        transform:translateY(200px);
        transition: 1s ease all;
    }
    span.tiny.active {
        opacity:1;
        transform:translateY(0px);
        transition: 1s ease all;
    }


    .img01 {
        background-image: url('../img/01_img01.png');
        background-size: 70%;
        background-repeat: no-repeat;
        width: 60vw;
        height: 100vh;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background-position-x: 200%;
        background-position-y: 480%;
        transition: 0.5s ease all;
    }

    .img01.active {
        background-size: 70%;
        background-repeat: no-repeat;
        width: 60vw;
        height: 100vh;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background-position-x: 140%;
        background-position-y: 180%;
        transition: 0.5s ease all;
    }

    .img02 {
        background-image: url('../img/01_img02.png');
        background-size: 70%;
        background-repeat: no-repeat;
        width: 60vw;
        height: 100vh;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background-position-x: 142%;
        background-position-y: 405%;
        transition: 0.5s ease all;
    }

    .img02.active {
        background-size: 70%;
        background-repeat: no-repeat;
        width: 60vw;
        height: 100vh;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background-position-x: 32%;
        background-position-y: 65%;
        transition: 0.5s ease all;
    }

    .cartoon-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .cartoon-box {
        margin-top: -4px;
        opacity:0;
        transition: 0.5s ease all;
        
    }
    .cartoon-box.active {
        opacity:1;
        transition: 0.5s ease all;
    }

    .cartoon-footer {
        background-color: var(--primary-color);
        width: 801px;
        border: 1.5px solid #000;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    align-items: center;
    margin-top:-5px;

    }

    .cartoon-footer>div {
        width: 100%;
        font-size: 33px;
        text-align: center;
        font-weight: 800;
    }

    .cartoon-label {
        background-color: var(--primary-color);
        border: 1.5px solid #000;
        color: #231f20;
        font-size: 28px;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .cartoon-label.first {
        width: 420px;
        height: 63px;
        position: absolute;
        transform: translate(-30px, 25px);
        box-shadow: -8px 10px 1px 1px #000000cc;
        z-index: 99;
    }

    .cartoon-label.second {
        width: 420px;
        height: 63px;
        position: absolute;
        transform: translate(20px, 25px);
        box-shadow: -8px 10px 1px 1px #000000cc;
        z-index: 99;
    }

    .cartoon-label.third {
        width: 420px;
        height: 63px;
        position: absolute;
        transform: translate(-30px, 25px);
        box-shadow: -8px 10px 1px 1px #000000cc;
        z-index: 99;
    }

    .cartoon-label.last {
        width: 402px;
        height: 63px;
        padding-top: 20px;
        position: absolute;
        background-color: #ffffff00;
        border: 0px solid #000;
        z-index: 99;
    }

    hr.bar {
        width: 75px;
        background-color: var(--primary-color);
        height: 2px;
        border: none;
        margin: initial;
    }

    .usage-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .usage-card-title {
        background-color: #0b0c10;
        color: #fff;
        height: 56px;
        width: 367px;
        border-radius: 30px;
        font-size: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
    }

    .usage-card-desc {
        font-size: 25px;
        line-height: 1.5em;
        font-weight: 400;
        height: 195px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .when-hover-phone1 {
        display: block;
        opacity: 0;
        position: absolute;
        transform: translate(-40px, -730px) matrix(0.5, 0, 0, 0.5, 0, 0);
        transition: 0.5s ease all;
    }

    .when-hover-phone1.active {
        opacity: 1;
        transform: translate(-40px, -730px) matrix(1, 0, 0, 1, 0, 0);
        transition: 0.5s ease all;
    }



    .footer-illust {
        background-image: url('../img/illust001.png');
        background-repeat: no-repeat;
        transform: translateY(-357px);
        opacity: 1;
        width: 614px;
        height: 414px;
        position: absolute;
        right: 0;
        transition: 0.5s ease all;
    }

    .footer-illust.active {
        background-image: url('../img/illust001.png');
        background-repeat: no-repeat;
        transform: translateY(-357px);
        opacity: 1;
        width: 614px;
        height: 414px;
        position: absolute;
        right: 0;
        transition: 0.5s ease all;
    }

    .footer-title {
        font-size: 50px;
        font-weight: 800;
        transition: 0.3s ease all;
    }
}




@media all and (min-width:768px) and (max-width:1023px) {
    body{
        zoom:0.5;
    }
    .only-pc {
        display: block;
    }
    .only-mobile {
        display: none;
    }

    .text-center {
        text-align: center;
    }

    section.masthead {
        background-color: var(--primary-color);
        border-radius: 0 0 0 35%;
        height: 100vh;
        padding-left: 158px;
    }

    section.second {
        background-color: var(--white-color);
        height: 100vh;
        width: 1660px;
        margin: 0 auto;
    }

    section.third {
        background-color: var(--white-color);
        width: 1660px;
        margin: 0 auto;
    }

    section.fourth {
        background-image: url('../img/hand.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 34%;
        height: 100vh;
        width: 1660px;
        margin: 0 auto;
    }

    .mt-first {
        margin-top: 210px !important;
    }

    .mt-second {
        margin-top: 40px !important;
    }

    .mt-400 {
        margin-top: 400px !important;
    }

    .mt-280 {
        margin-top: 280px !important;
    }

    .mt-100 {
        margin-top: 100px !important;
    }

    .mt-80 {
        margin-top: 80px !important;
    }

    .mt-40 {
        margin-top: 40px !important;
    }

    .mt-20 {
        margin-top: 20px !important;
    }

    .mb-100 {
        margin-bottom: 100px !important;
    }

    .width-first {
        width: 310px;
    }

    .width-second {
        width: 600px;
    }

    .w1660 {
        width: 1660px;
    }

    .between {
        display: flex;
        justify-content: space-between;
    }


    .signature {
        color: #9d8123;
        font-size: 19px;
        margin-top: 17px;
    }

    .subtitle-text {
        font-size: 35px;
        color: var(--title-color);
        font-weight: 800;

    }

    h2 {
        font-size: 53px;
        line-height: 1.47em;
        font-weight: 800;
        margin-left: initial;
        margin-right: initial;
        margin-top: initial;
        margin-bottom: initial;
        color: var(--pick-color);

    }

    p.desc {
        font-size: 53px;
        line-height: 1.47em;
        font-weight: 400;
        color: var(--pick-color);
        margin: initial;
    }

    span.tiny {
        font-size: 25px;
        line-height: 1.9em;
        font-weight: 400;
        color: var(--pick-color);

    }

    .img01 {
        background-image: url('../img/01_img01.png');
        background-size: 70%;
        background-repeat: no-repeat;
        width: 60vw;
        height: 100vh;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background-position-x: 200%;
        background-position-y: 480%;
        transition: 0.5s ease all;
    }

    .img01.active {
        background-size: 70%;
        background-repeat: no-repeat;
        width: 60vw;
        height: 100vh;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background-position-x: 140%;
        background-position-y: 180%;
        transition: 0.5s ease all;
    }

    .img02 {
        background-image: url('../img/01_img02.png');
        background-size: 70%;
        background-repeat: no-repeat;
        width: 60vw;
        height: 100vh;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background-position-x: 142%;
        background-position-y: 405%;
        transition: 0.5s ease all;
    }

    .img02.active {
        background-size: 70%;
        background-repeat: no-repeat;
        width: 60vw;
        height: 100vh;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background-position-x: 32%;
        background-position-y: 65%;
        transition: 0.5s ease all;
    }

    .cartoon-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .cartoon-box {
        margin-top: -4px;
    }

    .cartoon-footer {
        background-color: var(--primary-color);
        width: 801px;
        border: 1.5px solid #000;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    align-items: center;
    margin-top:-5px;

    }

    .cartoon-footer>div {
        width: 100%;
        font-size: 33px;
        text-align: center;
        font-weight: 800;
    }

    .cartoon-label {
        background-color: var(--primary-color);
        border: 1.5px solid #000;
        color: #231f20;
        font-size: 28px;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .cartoon-label.first {
        width: 420px;
        height: 63px;
        position: absolute;
        transform: translate(-30px, 25px);
        box-shadow: -8px 10px 1px 1px #000000cc;
        z-index: 99;
    }

    .cartoon-label.second {
        width: 420px;
        height: 63px;
        position: absolute;
        transform: translate(20px, 25px);
        box-shadow: -8px 10px 1px 1px #000000cc;
        z-index: 99;
    }

    .cartoon-label.third {
        width: 420px;
        height: 63px;
        position: absolute;
        transform: translate(-30px, 25px);
        box-shadow: -8px 10px 1px 1px #000000cc;
        z-index: 99;
    }

    .cartoon-label.last {
        width: 402px;
        height: 63px;
        padding-top: 20px;
        position: absolute;
        background-color: #ffffff00;
        border: 0px solid #000;
        z-index: 99;
    }

    hr.bar {
        width: 75px;
        background-color: var(--primary-color);
        height: 2px;
        border: none;
        margin: initial;
    }

    .usage-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .usage-card-title {
        background-color: #0b0c10;
        color: #fff;
        height: 56px;
        width: 367px;
        border-radius: 30px;
        font-size: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
    }

    .usage-card-desc {
        font-size: 25px;
        line-height: 1.5em;
        font-weight: 400;
        height: 195px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .when-hover-phone1 {
        display: block;
        opacity: 0;
        position: absolute;
        transform: translate(-40px, -730px) matrix(0.5, 0, 0, 0.5, 0, 0);
        transition: 0.5s ease all;
    }

    /* .usage-card-img.first:hover>.when-hover-phone1 {
        opacity: 1;
        transform: translate(-40px, -730px) matrix(1, 0, 0, 1, 0, 0);
        transition: 0.5s ease all;
    } */



    .footer-illust {
        background-image: url('../img/illust001.png');
        background-repeat: no-repeat;
        transform: translateY(-357px);
        opacity: 1;
        width: 614px;
        height: 414px;
        position: absolute;
        right: 0;
        transition: 0.5s ease all;
    }

    .footer-illust.active {
        background-image: url('../img/illust001.png');
        background-repeat: no-repeat;
        transform: translateY(-357px);
        opacity: 1;
        width: 614px;
        height: 414px;
        position: absolute;
        right: 0;
        transition: 0.5s ease all;
    }

    .footer-title {
        font-size: 50px;
        font-weight: 800;
        transition: 0.3s ease all;
    }
}



@media all and (max-width:767px) {
    .only-pc {
        display: block;
    }
    .only-mobile {
        display: block;
    }
    .mobile-center{
        display: flex;
        justify-content: center;
    }

    .text-center {
        text-align: center;
    }

    section.masthead {
        background-color: var(--primary-color);
        border-radius: 0 0 0 35%;
        height: 100vh;
        padding-left: 10px;
    }

    section.second {
        background-color: var(--white-color);
        margin: 0 auto 0 auto;
        padding:10px;
    }
    section.second > .row{
        flex-direction: column;
    }

    section.third {
        background-color: var(--white-color);
        margin: 0 auto 0 auto;
        padding:10px;
    }

    
    section.fourth {
        height: 1070px;
        width: 100%;
        margin: 0 auto;
        padding:10px;
    }
    .fourth > .row{
        display: flex;
        flex-direction: column;
    }
    
    .phone-with{
        background-image: url(../img/hand.png);
        background-repeat: no-repeat;
        background-position: initial;
        background-size: contain;
        width: 320px;
        height: 500px;
    }
    .handphone{
        opacity: 0;
        width: 125px;
        margin-left: 31px;
        margin-top: 9px;
        transform: matrix3d(1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transition: 1s ease all;
    }
    .handphone.active{
        opacity: 1;
        width: 125px;
        margin-left: 31px;
        margin-top: 9px;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transition: 1s ease all;
        
    }


    .usage-card-img > img{
        width:90%;
    }
    .cartoon-img{
        display:flex;
        align-items: center;
        justify-content: center;
        margin-bottom:10px;
    }
    .cartoon-img > img{
        width:100%;
    }
    .mt-first {
        margin-top: 20px !important;
    }

    .mt-second {
        margin-top: 40px !important;
    }

    .mt-400 {
        margin-top: 200px !important;
    }

    .mt-280 {
        margin-top: 280px !important;
    }

    .mt-100 {
        margin-top: 100px !important;
    }

    .mt-80 {
        margin-top: 10px !important;
    }

    .mt-40 {
        margin-top: 40px !important;
        width:100%;
    }

    .mt-20 {
        margin-top: 20px !important;
    }

    .mb-100 {
        margin-bottom: 100px !important;
    }

    .width-first {
        width: 100%;
    }

    .width-second {
        width: 100%;
    }

    .w1660 {
        width: 100%;
    }

    .between {
        display: flex;
        justify-content: space-between;
    }
    span.tiny.mt-40.text-center{
        text-align:left;
    }


    .signature {
        color: #9d8123;
        font-size: 19px;
        margin-top: 17px;
    }

    .subtitle-text {
        font-size: 35px;
        color: var(--title-color);
        font-weight: 800;

    }

    h2 {
        font-size: 32px;
        line-height: 1.47em;
        font-weight: 800;
        margin-left: initial;
        margin-right: initial;
        margin-top: initial;
        margin-bottom: initial;
        color: var(--pick-color);
        opacity:0;
        transform:translateY(200px);
        transition: 1s ease all;
    }
    h2.active{
        opacity:1;
        transform:translateY(0px);
        transition: 1s ease all;
    }


    p.desc {
        font-size: 32px;
        line-height: 1.47em;
        font-weight: 400;
        color: var(--pick-color);
        margin: initial;
        opacity:0;
        transform:translateY(200px);
        transition: 1s ease all;
    }
    p.desc.active{
        opacity:1;
        transform:translateY(0px);
        transition: 1s ease all;
    }

    span.tiny {
        font-size: 14px;
        line-height: 1.9em;
        font-weight: 400;
        color: var(--pick-color);
        margin-bottom:20px;
        opacity:0;
        transform:translateY(200px);
        transition: 1s ease all;

    }
    span.tiny.active {
        opacity:1;
        transform:translateY(0px);
        transition: 1s ease all;
    }

    .img01 {
        background-image: url('../img/01_img01.png');
        background-size: 70%;
        background-repeat: no-repeat;
        width: 100vw;
        height: 40vh;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background-size:contain;
        background-position-x: 200%;
        background-position-y: 480%;
        transition: 0.5s ease all;
    }

    .img01.active {
        background-size: 70%;
        background-repeat: no-repeat;
        width: 100vw;
        height: 40vh;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background-size:contain;
        background-position-x: 140%;
        background-position-y: 205%;
        transition: 0.5s ease all;
    }

    .img02 {
        background-image: url('../img/01_img02.png');
        background-size: 70%;
        background-repeat: no-repeat;
        width: 100vw;
        height: 40vh;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background-size:contain;
        background-position-x: 142%;
        background-position-y: 405%;
        transition: 0.5s ease all;
    }

    .img02.active {
        background-size: 70%;
        background-repeat: no-repeat;
        width: 100vw;
        height: 40vh;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background-size:contain;
        background-position-x: 32%;
        background-position-y: 205%;
        transition: 0.5s ease all;
    }

    .cartoon-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cartoon-box {
        opacity:0;
        transition: 0.5s ease all;
    }
    .cartoon-box.active {
        opacity:1;
        transition: 0.5s ease all;
    }

    .cartoon-footer {
        background-color: var(--primary-color);
        width: 100%;
        max-width: 399px;
        border: 1.5px solid #000;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -11px;

    }

    .cartoon-footer>div {
        width: 100%;
        font-size: 22px;
        text-align: center;
        font-weight: 800;
    }

    .cartoon-label {
        background-color: var(--primary-color);
        border: 1.5px solid #000;
        color: #231f20;
        font-size: 22px;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .cartoon-label.first {
        width: 100%;
        height: 63px;
        transform: translate(0px, 75px);
        box-shadow: -8px 10px 1px 1px #000000cc;
        z-index: 99;
    }

    .cartoon-label.second {
        width: 100%;
        height: 63px;
        transform: translate(0px, 75px);
        box-shadow: -8px 10px 1px 1px #000000cc;
        z-index: 99;
    }

    .cartoon-label.third {
        width: 100%;
        height: 63px;
        transform: translate(0px, 75px);
        box-shadow: -8px 10px 1px 1px #000000cc;
        z-index: 99;
    }

    .cartoon-label.last {
        width: 100%;
        height: 63px;
        transform: translate(0px, 75px);
        padding-top: 20px;
        background-color: #ffffff00;
        border: 0px solid #000;
        z-index: 99;
    }

    hr.bar {
        width: 75px;
        background-color: var(--primary-color);
        height: 2px;
        border: none;
        margin: initial;
    }

    .usage-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .usage-card-title {
        background-color: #0b0c10;
        color: #fff;
        height: 56px;
        width: 280px;
        border-radius: 30px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
    }

    .usage-card-desc {
        font-size: 25px;
        line-height: 1.5em;
        font-weight: 400;
        height: 195px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .when-hover-phone1 {
        display: block;
        opacity: 0;
        position: absolute;
        transform: translate(0px, 170px) matrix(0.5, 0, 0, 0.5, 0, 0);
        transition: 0.5s ease all;
    }
    .when-hover-phone1.active {
        opacity: 1;
        transform: translate(0px, 170px) matrix(1, 0, 0, 1, 0, 0);
        transition: 0.5s ease all;
    }
    .row.w1660.between{
        flex-direction: column;
    }
    .usage-card-img {
        display: flex;
        justify-content: center;
    }
    .usage-card:nth-child(2), .usage-card:nth-child(3){
        margin-top:180px;
    }

    /* .usage-card-img.first:hover>.when-hover-phone1 {
        opacity: 1;
        transform: translate(-40px, -730px) matrix(1, 0, 0, 1, 0, 0);
        transition: 0.5s ease all;
    } */



    .footer-illust {
        background-image: url('../img/illust001.png');
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateY(-302px);
        opacity: 1;
        width: 390px;
        height: 260px;
        position: absolute;
        right: 0;
        margin-bottom: -18px;
        transition: 0.5s ease all;
    }

    .footer-illust.active {
        background-image: url('../img/illust001.png');
        background-repeat: no-repeat;
        transform: translateY(-357px);
        opacity: 1;
        width: 400px;
        height: 260px;
        position: absolute;
        right: 0;
        transition: 0.5s ease all;
    }

    .footer-title {
        padding:10px;
        font-size: 28px;
        font-weight: 800;
        text-align: center;
        transition: 0.3s ease all;
    }


}

.footer--chip--white {
    background-color: var(--white-color);
    width: 210px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #000;
    font-size: 27px;
    font-weight: 700;
    margin-top: 37px;
}